p {
    margin: 0;
}

.c-board_content {
    border-bottom: solid 1px;
}

.c-board_content:last-child {
    border-bottom: none;
}

.c-title {
    margin: 0;
}

.c-category_list {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.c-category_list li {
    float: left;
    margin-right: 10px;
    padding: 0px 2px;
}

.c-category_list .u-category_name {
    background-color: #909090;
    border-radius: 5px;
    color: white;
}

.p-welcome .c-board_item {
    box-sizing: border-box;
    height: 80px;
    overflow: hidden;
}

.p-welcome .c-board_item h4 {
    margin-top: 8px;
}

.p-welcome h1 {
    margin-bottom: 32px;
    margin-top: 8px;
}

.p-welcome .c-board_item div {
    box-sizing: border-box;
    height: 80px;
    background: #58ACFA;
    border-radius: 1em;
    box-shadow: 0px 10px 0px 0px;
}

.p-welcome .c-board_item p {
    color: #545454;
}

.p-welcome .c-board_item a {
    color: black;
    text-decoration: none;
}

.u-board {
    margin-bottom: 32px;
}

.p-board p {
    margin-bottom: 1em;
}

.p-board button {
    margin-bottom: 1em;
    outline: none;
}

.p-board a {
    outline: none;
}

.p-board .u-content_user {
    font-weight: bolder;
}

.p-board .u-daytime_and_good {
    font-weight: bolder;
    overflow: hidden;
}

.p-board .u-daytime_and_good .u-daytime {
    float: left;
    margin: 0;
}

.p-board .u-daytime_and_good .u-good {
    float: right;
    margin: 0;
}

.p-board_form {
    width: 100%;
    margin-bottom: 24px;
}

.c-login_button {
    background-color: #3b5998;
    color: white;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
    position: relative;
}

.c-login_button a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 359px;
    height: 48px;
}
